<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ block "head" . }}
      {{ partial "head.html" . }}
    {{ end }}
  </head>
  <body>
    <aside id="left-container">
      <header id="townportal">
        <hgroup>
          <h1 aria-label="Luca Etienne Schulz">/lukɑ əˈtiːɛn ʂʊlt͡s/</h1>
          <p>Yip, this rewrite of the site is still WIP.</p>
        </hgroup>
      </header>
      <nav id="side-contents" class="centered-container">
        {{- range site.Menus.main}}
          <li><a href="{{ .URL }}">{{ .Name }}</a>
        {{- end }}
      </nav>
      <footer id="nav-bottom">
        {{ block "footer" . }}
          {{ partialCached "footer/menu.html" . }}
        {{ end }}
      </footer>
    </aside>
    <section id="right-container">
      <header>
        {{ block "header" . }}
          {{ partial "header/breadcrumb.html" . }}
        {{ end }}
      </header>
      <main>
        {{ block "main" . }}
          {{ partial "heading.html" (dict "title" .Title "subtitle" .Params.subtitle) }}
          {{ .Content }}
        {{ end }}
      </main>
    </section>
  </body>
</html>
