<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ block "head" . }}
      {{ partial "head.html" . }}
    {{ end }}
  </head>
  <body>
    <aside id="left-container">
      {{ block "left-container" . }}
        <header id="townportal">
          <h1>{{ .Title }}</h1>
        </header>
        <nav id="side-contents">
          <ul>
          {{- range site.Menus.main}}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{- end }}
          </ul>
        </nav>
        <footer id="nav-bottom">
          {{ block "footer" . }}
            {{ partialCached "footer/menu.html" . }}
          {{ end }}
        </footer>
      {{ end }}
    </aside>
    <section id="right-container">
      <header>
        {{ block "header" . }}
          {{ partial "header/breadcrumb.html" . }}
        {{ end }}
      </header>
      <main>
        {{ block "main" . }}
          {{ partial "heading.html" (dict "title" .Title "subtitle" .Params.subtitle) }}
          {{ .Content }}
        {{ end }}
      </main>
    </section>
  </body>
</html>
