{{ define "left-container" }}
  <nav id="side-contents" class="centered-container" style="background-color: #20FC8F;">
    <ul>
    {{- range site.Menus.main}}
      <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{- end }}
    </ul>
  </nav>
  <footer id="nav-bottom" style="background-color: #20FC8F;">
    {{ block "footer" . }}
      {{ partialCached "footer/menu.html" . }}
    {{ end }}
  </footer>
{{ end }}

{{ define "main" }}
  {{ partial "heading.html" (dict "title" .Site.Params.ipa "subtitle" .Site.Params.introductory "ariaLabel" .Site.Params.name) }}
  {{ .Content }}
{{ end }}
