{{ define "left-container" }}
  <header id="townportal" class="inverted">
    <h1 aria-label="Luca Etienne Schulz">{{ .Site.Params.ipa }}</h1>
  </header>
  <nav id="side-contents" style="background-color: #20FC8F;">
    <ul>
    {{- range site.Menus.main}}
      <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{- end }}
    </ul>
  </nav>
  <footer id="nav-bottom" style="background-color: #20FC8F;">
    {{ block "footer" . }}
      {{ partialCached "footer/menu.html" . }}
    {{ end }}
  </footer>
{{ end }}

{{ define "main" }}
  <p>{{ .Site.Params.introductory }}</p>
  {{ .Content }}
{{ end }}
