html {
  font-family: sans-serif;
}

body > header {
  ol {
    margin: 0;
  }
}

header, footer {
  :is(ul, ol) {
    padding-left: 0;
  }
  li {
    display: inline;
  }
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.anchor {
  display: none;
}

:is(h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover) .anchor {
  display: inline-block;
}

a {
  color: inherit;
}

/* Dirty solution */
@media (prefers-color-scheme: dark) {
  .rss {
    filter: invert(100%);
  }
}
