<meta charset="utf-8">
<meta name=color-scheme content="dark light">
<meta name=viewport content="width=device-width,initial-scale=1">

<title>{{ block "title" . }}{{ partial "title.html" . }}{{ end }}</title>

{{ $style := resources.Get "css/style.css" | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">

<link rel="preload" href="/fonts/CourierPrime-Regular.woff2" as="font" type="font/woff2">

<link rel="icon" href="data:,">
