<table>
  <tbody>
    <!-- TODO: use semantic times in the future -->
    <tr>
      <th scope="row">Created</th>
      <td><time>September 30, 2021 8:12 PM</time></td>
    </tr>
    <tr>
      <th scope="row">Last Edited</th>
      <td>tday</td>
    </tr>
    <tr>
      <th scope="row">Tags</th>
      <td>
        <ul>
          <li>
            <a href="/tags/mywork">MyWork</a>
          </li>
          <li>
            <a href="/tags/stuff">Stuff</a>
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
