{{ define "left-container" }}
  <header id="townportal">
    <hgroup>
      <h1>{{ .Title }}</h1>
      <p>Путин, пососи мои яйца 🇺🇦</p>
    </hgroup>
  </header>
  <nav id="side-contents">
    <ul id="side-contents-tags">
      {{/* Gather all tags from the bookmarks */}}
      {{ $allTags := slice }}
      {{ range .Pages }}
        {{ if .Params.tags }}
          {{ range .Params.tags }}
            {{ $allTags = $allTags | append . }}
          {{ end }}
        {{ end }}
      {{ end }}
      {{ $uniqueTags := uniq $allTags | sort }}
      {{ range $uniqueTags }}
        <li>{{ . }}</li>
      {{ end }}
    </ul>
  </nav>
  <footer id="nav-bottom">
    {{ block "footer" . }}
      {{ partialCached "footer/menu.html" . }}
    {{ end }}
  </footer>
{{ end }}

{{ define "head" }}
  {{ partial "head.html" . }}

  {{ $sorterJS := resources.Get "js/bookmarks-sorter.js" | resources.Minify | resources.Fingerprint }}
  <script src="{{ $sorterJS.RelPermalink }}"></script>

  {{ $searcherJS := resources.Get "js/bookmarks-searcher.js" | resources.Minify | resources.Fingerprint }}
  <script src="{{ $searcherJS.RelPermalink }}" defer></script>
{{ end }}

{{ define "main" }}
  {{/* Build a list of all tags from all pages */}}
  {{ $allTags := slice }}
  {{ range .Pages }}
    {{ if .Params.tags }}
      {{ range .Params.tags }}
        {{ $allTags = $allTags | append . }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ $uniqueTags := uniq $allTags }}

  {{/* Count bookmarks and unique tags */}}
  {{ $bookmarkCount := len .Pages }}
  {{ $tagCount := len $uniqueTags }}

  <p>There are currently <span style="color: orange;">{{ $bookmarkCount }}</span> bookmarks in <span style="color: orange;">{{ $tagCount }}</span> different tags.</p>

  <p>You can exclude tags from the results by putting an exclamation mark in front of the tag. Try this: <code style="color: orange">#netiquette !#xy</code></p>

  <input type="text" id="search-input" name="search" style="width: 100%;" placeholder="Search by title or #tags" autofocus>

  <!-- Give the table an id so we can easily select it in JavaScript -->
  <table id="bookmarksTable">
    <thead>
      <tr>
        <th>URL</th>
        <th>Feed</th>
        <th>Bookmark</th>
        <th>Tags</th>
      </tr>
    </thead>
    <tbody>
    	{{$rsssvg := resources.Get "symbols/rss.svg"}}
      {{ range .Pages }}
        <tr class="bookmark{{ if .Params.tags }} {{ delimit .Params.tags " " }}{{ end }}">
          <td>
            <a href="{{ .Params.url }}">🔗</a>
          </td>
          <td>
            {{ if .Params.feed }}
              <a href="{{ .Params.feed }}"><img class="rss" src="{{$rsssvg.RelPermalink}}" alt="" style="width: 1rem;"></a>
            {{ else }}
              <span>🦆</span>
            {{ end }}
          </td>
          <td>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </td>
          <td>
            {{ if .Params.tags }}
              {{ range (sort .Params.tags) }}
                <span class="tag {{ . }}">{{ printf "#%s" . }}</span>
              {{ end }}
            {{ end }}
          </td>
        </tr>
      {{ end }}
    </tbody>
  </table>
{{ end }}
