{{ define "main" }}
  <small>Psst, this page is still WIP.</small>
  <ul>
    {{ range .Pages }}
      <li>
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <a href="{{ .Params.url }}" target="_blank" rel="noopener noreferrer">{{ .Params.url }}</a>
        {{ if .Params.tags }}
          {{ $hashTags := slice }}
          {{ range .Params.tags }}
            {{ $hashTags = $hashTags | append (printf "#%s" .) }}
          {{ end }}
          {{ $sortedTags := sort $hashTags }}
          <p>{{ delimit $sortedTags ", " }}</p>
        {{ end }}
      </li>
    {{ end }}
  </ul>
{{ end }}
