{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{ if .Params.url }}
    <p>URL: <a href="{{ .Params.url }}">{{ .Params.url }}</a></p>
  {{ end }}

  {{ if .Params.tags }}
    <p>Tags: 
      {{ $hashTags := slice }}
      {{ range .Params.tags }}
        {{ $hashTags = $hashTags | append (printf "#%s" .) }}
      {{ end }}
      {{ $sortedTags := sort $hashTags }}
      {{ delimit $sortedTags " " }}
    </p>
  {{ end }}

  {{ if .Params.mirrors }}
    <p>Mirrors:</p>
    <ul>
      {{ range .Params.mirrors }}
        <li><a href="{{ . }}">{{ . }}</a></li>
      {{ end }}
    </ul>
  {{ end }}

	{{$rsssvg := resources.Get "symbols/rss.svg"}}
  {{ if .Params.feed }}
    <a href="{{ .Params.feed }}">
      <img class="rss" src="{{$rsssvg.RelPermalink}}" alt="" style="width: 1rem;">
    </a>
  {{ end }}

  {{ if .Params.description }}
    <p>{{ .Params.description }}</p>
  {{ end }}
{{ end }}
