{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{ if .Params.url }}
    <p>URL: <a href="{{ .Params.url }}">{{ .Params.url }}</a></p>
  {{ end }}
  {{ if .Params.feed }}
    <p>Feed: <a href="{{ .Params.feed }}">{{ .Params.feed }}</a></p>
  {{ end }}

  {{ if .Params.tags }}
    <p><strong>Tags:</strong></p>
    <ul>
      {{ range .Params.tags }}
        <li>{{ . }}</li>
      {{ end }}
    </ul>
  {{ end }}

  {{ if .Params.mirrors }}
    <p><strong>Mirrors:</strong></p>
    <ul>
      {{ range .Params.mirrors }}
        <li><a href="{{ . }}">{{ . }}</a></li>
      {{ end }}
    </ul>
  {{ end }}

  {{ if .Content }}
    <div>
      {{ .Content }}
    </div>
  {{ end }}
{{ end }}
